body{
    background-color:rgb(134, 134, 134); /*rgb(10, 10, 10) (105, 102, 105)*/
    margin: auto;
    margin-left: 300px;
    margin-top: 89px;
    width: 70%;

}

div.sidenav{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 280px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 80px;
  }
  
div.sidenav a{
    padding: 6px 8px 6px 35px;
    text-decoration: none;
    font-family: 'Fira Code';
    font-weight: bold;
    font-size: 25px;
    color: rgb(134, 134, 134);
    display: block;
  }

div.sidenav h{
    text-decoration: none;
    font-family: 'Fira Code';
    font-weight: bold;
    font-size: 45px;
    color: rgb(134, 134, 134);
    display: block;
    cursor: pointer;
    touch-action: manipulation;
}

div.sidenav.nome{
    font-size: 40px;
  }
  
  /* When you mouse over the navigation links, change their color */
div.sidenav a:hover, div.sidenav h:hover{
    color: #f1f1f1;
  }

div.main-name{
    color: rgb(0, 0, 0); /*color: rgba(255, 255, 255, 0.100) rgb(2, 63, 50)*/
    font-family: 'Fira Code';
    font-size: 30px;
    font-weight: bold;
}

div.main-info{
    color: rgb(43, 43, 43);
    font-size: 20px;
    font-family: 'Inconsolata';
    text-align: left;
    display: block;
}

div.main-info a{
    color: rgb(43, 43, 43);
    font-size: 20px;
    font-family: 'Inconsolata';
    text-align: left;
    display: block;
}

div.main-info h{
    padding: 0px 0px 0px 35px;
    color: rgb(43, 43, 43);
    font-size: 20px;
    font-family: 'Fira Code';
    font-weight: bold;
    display: block;
}

div.link a{
    margin-top: 30px;
    text-decoration: none;
    font-family: 'Fira Code';
    font-weight: bold;
    font-size: 25px;
    color: #818181;
    display: block;
}

a{
    color: rgb(43, 43, 43);
    font-size: 20px;
    font-family: 'Inconsolata';
    display: block;
    margin-left: 0px;
}

p.lead{
    padding: 26px 8px 26px 35px;
    color: rgb(43, 43, 43);
    font-size: 20px;
    font-family: 'Fira Code';
    font-weight: 500;
    display: block;
    margin-left: 0px;
    margin-right: 15px;
}

div.main-description{ 
    color: rgb(43, 43, 43); /*color: rgb(5, 70, 55) rgba(255, 255, 255, 0.200)*/
    font-family: 'Inconsolata';
    font-size: 18px;
    text-align: left;

}

hr{
    height: 6px;
    background: url(hr-11.png) repeat-x 0 0;
    border: 0; /*rgb(5, 70, 55)*/
    margin-bottom: 20px;
    margin-top: 20px;

}

